*{
	margin: auto;
	padding: 0;

}
body{
	color:white;
	background-image:linear-gradient(to right, rgba(0,100,255,0), rgba(100,100,150,1)), url(../img/fondo.jpg); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30% 10%;
	
}
a{
	text-decoration: none;
	color:#000;
	
	font-weight:bold;
}
a:hover{
	color:black;
}
h1{
	color:#000;
	margin: auto;
	text-align: center;
}
h3{
	color:#000;
	text-align: center;
}
th{
	color:#000f00;
}
